*{
  box-sizing: border-box
}

html
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

body a {
  text-decoration: none;
  color: #f5f5f5;
}

input:focus,
button:focus,
select:focus {
  outline:none
}

button:hover {
  cursor: pointer;
}

/* ------------------title-------------------- */
.header {
  position: relative;
  text-align: center;
}

.topList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
  background-color: #272727;
  font-size: 10px;
}

 .topList {
   padding: 0 10px;
 }

 .topList a:hover {
   color: #8b572a;
 }

.logo {
    margin: 0 auto;
}

.logo img {
  width: 15rem;
  /* height: */
}

.searchInputMobile form {
  width: 80%;
  height: 44px;
  z-index: 2;
  position: absolute;
  top: 5px;
  right: 44px;
}

.searchInputMobile {
  border-radius: 30px;
  border: 1px solid;
}

.searchImgMobile {
  position: absolute;
  top: 5px;
  right: 5px;
}

.searchGroupDesktop,
.searchInputMobile,
.desktopCartQuantity,
.buttonImg,
.cartImg {
  display: none;
}

.cartImg {
  padding-bottom: 5px;
}

.title img {
  max-height: 80%;
  max-width: 80%;
  width: auto;
  height: auto;
}

.headerBar {
  display: none;
}

/* ------------------product-------------------- */

.cartLink {
  display: none;
}

.productCart {
  margin: 20px 30px;
}

.cartTitle {
  font-size: 20px;
  color: #3f3a3a;
  font-weight: bold;
}

.cartTitle :nth-child(2),
.cartTitle :nth-child(3),
.cartTitle :nth-child(4) {
  display: none;
}

.productBorder {
  border-top: 2px solid #3f3a3a;
  margin: 0 0 10px 0;
  min-height: 100px;
}

.productBorderP {
  text-align: center;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 2px solid #3f3a3a;
}

.photo {
  width: 40%;
  max-height: 373px;
  margin: 10px 0;
}

.productIntro {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px 10px;
}

#name {
  margin: 0;
  font-size: 18px;
}

#id {
  margin: 0 0 20px 0;
  font-size: 12px;
}

.colorBox,
.sizeBox {
  display: flex;
  margin: 10px 0 0 0;
}

.boxTitle {
  font-size: 16px;
}

.boxTitle {
  padding: 0 5px 0 0;
  border-right: 1px solid grey;
}

#color,
#size {
  margin: 0 0 0 10px;
}

.removeImg {
  width: 44px;
  height: 44px;
}

.product :nth-child(1) { order: 1; }
.product :nth-child(2) { order: 1; }
.product :nth-child(3) { order: 2; }
.product :nth-child(4) { order: 2; }
.product :nth-child(5) { order: 2; }
.product :nth-child(6) { order: 1; }

.qtyBox p {
  margin: 16px 0 16px 0;
  text-align: center;
}

.qtyBox select {
  height: 25px;
  width: 80px;
  margin: 0 0 20px 0;
}

.priceOneItem,
.priceItemAll {
  text-align: center;
}

.delChoice {
  background-color: #cfcfcf;
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
}

.delChoice p {
  margin: 0 20px;
  text-align: left;
}

.delChoice select {
  width: 80vw;
  height: 30px;
  margin: 5px 0;
  font-size: 14px;
}

.userTitle {
  border-bottom: 2px solid #3f3a3a;
  margin: 20px 0;
}

.user input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}



.userSubtitle {
  margin: 20px 0 10px 0;
}

.userNotice {
  margin: 2px 0 20px 0;
  font-size: 12px;
  color: #D68B00;
}

.delTime {
  padding: 0 0 20px 0;
  display: flex;
  align-items: center;
  /* border-bottom: 2px solid #3f3a3a; */
}

.delTimeP {
  margin: 22px 0 5px 0;
}

.delTime input {
  margin: 0 2px;
  width: 10px;
}

.delTime p {
  margin: 0px 2px;
  width: 30vw;
}

.cardInfo {
  border-bottom: 2px solid #3f3a3a;
  padding-bottom: 20px;
}

.cardTitle {
  border-bottom: 2px solid #3f3a3a;
  margin: 20px 0;
}

/* .card input {
  width: 85vw;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
} */

.cardNumber,
.cardData,
.cardCCV {
  margin: 20px 0 10px 0;
}

.tpfield {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 5px 0;
  padding: 5px;
}

.total {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.totalItemCost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalCost {
  width: 501px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalItemCost,
.delCost {
  width: 60vw;
  text-align: right;
}

.totalItemCost p {
  margin: 10px 0 0 0;
}

.totalCost {
  width: 60vw;
  border-top: 2px solid #3f3a3a;
  text-align: right;
  align-items: flex-end;
}

.payButton {
  margin: 0 auto;
  width: 85vw;
  height: 40px;
  font-size: 15px;
  background-color: #000000;
  color: #FFFFFF;
}

.payButton:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #3f3a3a;
}

/* ------------------footer-------------------- */

.floatList {
  width: 100vw;
  background-color: #272727;
  color: #828282;
  position: fixed;
  bottom: 0;
}

.floatList {
  display: flex;
  margin: 0;
}

.floatList img{
  width: 44px;
  height: 44px;
}

.floatList a {
  margin: 0 auto;
  display: flex;
}

.floatList p{
  margin: 12px 0;
}

.floatList a{
  width: 100px;
}  /* 用限制寬度確保置中 */

.footerCart {
  position: relative;
}

.mobileCartQuantity {
  position: absolute;
  top: 17px;
  left: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #eda13b;
  opacity: 90%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/* footer {
  position: absolute;
  bottom: 0;
} */

.buttom {
  width: 100vw;
  height: 180px;
  background-color: #272727;
  padding: 0 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.buttom p {
  margin-bottom: 50px;
}

.links{
  width: 55%;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.links a {
  margin: 0;
  padding: 0;
}

.icon a {
  margin-left: 5px;
}

.links a:hover {
  color:#c49871;
}

.buttom p {
  text-align: center;
  color: #f5f5f5;
}

/* ------------------Loading-------------------- */

.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  background-color: #636363;
  opacity: .5;
  display: none;
}

#loadingImg {
  width: 100px;
  height: 100px;
  margin-top: 100px;
}

/* ------------------Media Queries-------------------- */

@media all and (min-width : 900px){

  .searchGroupDesktop {
    margin: 0 30px;
  }

  .imgs a{
    margin: 0 10px
  }

  .searchImgDesktop {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .searchGroupDesktop {
    display: block;
  }

  .cartImg {
    margin: 0;
  }

}

@media all and (min-width : 768px){

  .header {
    display: flex;
    justify-content: space-around;
  }

  .cart {
    position: relative;
  }

  .desktopCartQuantity {
    position: absolute;
    top: 15px;
    right: -5px;
    /* z-index: 2; */
    color: #FFFFFF;
    font-size: 20px;
    background-color: #eda13b;
    opacity: 90%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .topList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #272727;
    background-color: #FFFFFF;
    order: -1;
    margin-right: auto;
  }

  .topList>* {
    margin: 0 10px;
  }

  .topList a {
    color: #000000;
    font-size: 20px;
  }

  .logo {
    order: -2;
    margin: 10px;
  }

  .logo img {
    width: 20rem;
  }

  .searchGroupMobile,
  .searchGroupDesktop {
    border-radius: 30px;
    border: 1px solid;
    width: 160px;
    height: 50px;
    z-index: 2;
    position: absolute;
    top: 18px;
    right: 100px;
  }

  .searchInputDesktop {
    margin: 10px 10px;
    height: 30px;
    width: 130px;
    cursor: text;
    white-space: nowrap;
    z-index: 1;
    border: none;
  }

  .headerBar {
    display: block;
    height: 37px;
    background-color: #000000;
  }

  .imgs {
    display: flex;
    align-items: center;
  }

  .buttonImg,
  .cartImg {
    max-width: 44px;
    max-height: 44px;
  }

  .cart {
    position: relative;
  }

  .desktopCartQuantity {
    position: absolute;
  }

  .searchImgDesktop {
    position: inherit;
    z-index: 1;
    max-width: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .searchInputDesktop,
  .desktopCartQuantity,
  .buttonImg,
  .cartImg {
    display: block;
  }

  .floatList {
    display: none;
  }

  .subLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subLinks a {
    margin: 10px;
  }

  footer>* {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
  }

  .title img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .buttom {
    flex-wrap: wrap;
    height: 150px;
  }

  .links {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 10px;
    width: 50%;
    max-width: 700px;
  }

  .links br {
    display: none;
  }

  .buttom p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
  }

  .icon{
    margin-left: auto;
    padding-right: 5px;
  }

  .footer {
    max-height: 100px;
  }

  .buttom a,
  .buttom p {
    font-size: 18px;
  }

  .icon {
    padding: 0 8px;
  }

  .searchGroupMobile {
    display: none;
  }

  .cartLink {
    display: block;
    margin: 30px 30px;
    color: #3f3a3a;
    font-size: 14px;
  }

  .cartTitle {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
  }

  .cartTitle :nth-child(1) {
    margin: 20px 0 10px 0;
  }

  .cartTitle :nth-child(2),
  .cartTitle :nth-child(3),
  .cartTitle :nth-child(4) {
    display: block;
    font-size: 16px;
    position: absolute;
  }

  .cartTitle :nth-child(2) {
    top: -5px;
    right: 330px;
  }

  .cartTitle :nth-child(3) {
    top: -5px;
    right: 215px;
  }

  .cartTitle :nth-child(4) {
    top: -5px;
    right: 95px;
  }

  .desktopItem {
    display: none;
  }

  .productBorder {
    border: 1px solid #979797;
    max-width: 1000px;
    margin: 0 auto;
  }

  .product {
    border: none;
    align-items: center;
  }

  .photo {
    max-width: 200px;
    margin: 10px;
  }

  .product :nth-child(1) { order: 1; }
  .product :nth-child(2) { order: 1;}
  .product :nth-child(3) { order: 1; }
  .product :nth-child(4) { order: 1; }
  .product :nth-child(5) { order: 1; }
  .product :nth-child(6) { order: 1; }

  .productIntro {
    max-width: 200px;
    margin-right: auto;
    height: 266px;
  }

  .qtyBox,
  .priceOneItem,
  .priceItemAll {
    width: 80px;
    margin: 0 20px;
  }

  .qtyBox select {
    margin: 0;
  }

  .delivery {
    max-width: 1000px;
    margin: 0 auto;
  }

  .delChoice,
  .delChoiceSub {
    display: flex;
    align-items: center;
  }

  .delChoice select {
    width: 150px;
    height: 30px;
    /* margin: 5px 0;
    font-size: 14px; */
  }

  .user {
    max-width: 1000px;
    margin: 0 auto;
    /* border-bottom: 2px solid #3f3a3a; */
  }

  .userDesktop {
    display: flex;
    align-items: center;
  }

  .userTitle {
    margin: 30px 0;
  }

  .user input {
    width: 350px;
  }

  .userSubtitle {
    margin: 10px 5px 10px 0;
  }

  #userPhoneDesktop,
  #userAddressDesktop {
    margin: 10px 0;
  }

  #userEmailDesktop {
    margin: 10px s0;
  }

  #userNameDesktop p {
    margin-right: 19px;
  }

  #userPhoneDesktop p,
  #userAddressDesktop p {
    margin-right: 67px;
  }

  #userEmailDesktop p {
    margin-right: 58px;
  }

  .userNotice {
    margin: 1px 0 20px 100px;
  }

  .delDesktop {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
  }

  .delTimeP {
    margin: 0 10px 0 0;
  }

  .delTime {
    justify-content: flex-start;
    /* border-bottom: none; */
    padding: 0;
  }

  .delTime input {
    margin: 0 10px;
    width: 10px;
  }

  .delTime p {
    width: 100px;
  }

  .cardInfo {
    max-width: 1000px;
    margin: 0 auto;
    /* border-bottom: 2px solid #3f3a3a; */
  }

  .cardDesktop {
    display: flex;
    align-items: center;
  }

  .cardTitle {
    margin: 30px 0;
  }

  .tpfield {
    width: 350px;
  }

  .cardNumber {
    margin: 10px 20px 15px 0;
  }

  .cardDate {
    margin: 10px 35px 15px 0;
  }

  .cardCCV {
    margin: 10px 50px 15px 0;
  }

  .total {
    max-width: 1000px;
    margin: 0 auto;
  }

  .totalCost {
    width: 501px;
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
  }

  .payButton {
    width: 501px;
    margin: 0;
  }

}


@media all and (max-width : 900px)  and (min-width: 768px){

  .cartImg {
    margin-right: 10px;
  }

  .topList>* {
    margin: 0 5px;
    font-size: 15px;
  }

  .searchGroupMobile,
  .searchGroupDesktop {
    width: 130px;
    height: 40px;
    z-index: 2;
    position: absolute;
    top: 23px;
    right: 100px;
  }

  .searchInputDesktop {
    margin: 5px 5px;
    height: 25px;
    width: 110px;
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 1;
  }

  .searchGroupDesktop {
    margin: 0;
  }

  .imgs a{
    margin: 0 5px
  }

  .buttonImg,
  .cartImg {
    max-width: 30px;
    max-height: 30px;
  }

  .searchImgDesktop {
    /* position: inherit;
    z-index: 1; */
    max-width: 25px;
    z-index: 1;
  }

  .cart {
    position: relative;
  }

  .desktopCartQuantity {
    position: absolute;
    top: 11px;
    right: 3px;
    /* z-index: 2; */
    color: #FFFFFF;
    font-size: 16px;
    background-color: #eda13b;
    opacity: 90%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .links a,
  .icon {
    padding-left: 5px;
    padding-right: 5px;
  }

  .links {
    width: 50%;
  }

  .buttom a,
  .buttom p {
    font-size: 15px;
  }

  .searchGroupDesktop {
    display: block;
  }


  .cartTitle :nth-child(2) {
    top: -5px;
    right: 250px;
  }

  .cartTitle :nth-child(3) {
    top: -5px;
    right: 170px;
  }

  .cartTitle :nth-child(4) {
    top: -5px;
    right: 80px;
  }

  .productIntro {
    max-width: 150px;
    margin-right: auto;
  }

  .qtyBox,
  .priceOneItem,
  .priceItemAll {
    width: 70px;
    margin: 0 10px;
  }

}

@media all and (max-width : 767px)  and (min-width: 500px){

  .buttom {
    padding: 20px 0 0 10px;
  }

  .links {
    height: 110px;
  }

  .links,
  .icon {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media all and (max-width : 500px){

  .logo img {
    /* max-width: 10rem; */
    height: 44px;
  }

  .searchImgMobile {
    width: 44px;
  }

  .floatList a {
    font-size: 10px;
  }

  .buttom {
    font-size: 10px;
    padding: 20px 0 0 10px;
  }

  .links {
    height: 100px;
  }

  .mobileCartQuantity {
    font-size: 16px;
  }

  .photo {
    width: 30%;
    max-height: 200px;
  }

  .productIntro {
    width: 30vw;
  }

  .delTime {
    font-size: 14px;
    justify-content: space-between;
  }

  .delTime p {
    margin: 0 0 0 2px;
    width: 30vw;
  }

}

@media all and (max-width : 650px){

  .photo {
    width: 35%;
    max-height: 303px;
    height: auto;
  }
}

@media all and (min-width : 1080px){

  .cartLink {
    display: block;
    max-width: 1000px;
    margin: 30px auto;
  }
}
