* {
  box-sizing: border-box
}

html
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

body a {
  text-decoration: none;
  color: #f5f5f5;
}

input:focus,
button:focus,
select:focus {
  outline:none
}

button:hover {
  cursor: pointer;
}

/* ------------------title-------------------- */
.header {
  position: relative;
  text-align: center;
}

.topList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
  background-color: #272727;
  font-size: 10px;
}

.topList {
  padding: 0 10px;
}

.topList a:hover {
  color: #8b572a;
}

.logo {
  margin: 0 auto;
}

.logo img {
  width: 15rem;
  /* height: */
}

.searchInputMobile form {
  width: 80%;
  height: 44px;
  z-index: 2;
  position: absolute;
  top: 5px;
  right: 44px;
}

.searchInputMobile {
  border-radius: 30px;
  border: 1px solid;
}

.searchImgMobile {
  position: absolute;
  top: 5px;
  right: 5px;
}

.searchGroupDesktop,
.searchInputMobile,
.desktopCartQuantity,
.buttonImg,
.cartImg {
  display: none;
}

.cartImg {
  padding-bottom: 5px;
}

.title img {
  max-height: 80%;
  max-width: 80%;
  width: auto;
  height: auto;
}

.headIntro {
  position: relative;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 20px;
}

.headerSliders {
  /* position: relative;
  float: left; */
  /* -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; */
}

.headWords {
  position: absolute;
  top: 20%;
  left: 10%;
  letter-spacing: 2px;
  z-index: 2;
  text-shadow: 0.1em 0.1em 0.2em #f5f5f5;
}

.headPhoto {
  position: relative;
  margin: 0 0 10px 0;
}


.headPhoto img {
  width: 100vw;
  height: 100%;
}

.sliderBar {
  width: 100vw;
  text-align: center;
  margin-top: -30px;
  z-index: 2;
  position: absolute;
  /* bottom: 10px;
  left: 45%; */
}

.sliderDot {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  background: #BEBEBE;
  border-radius: 70%;
  cursor: pointer;
}

/* ------------------product-------------------- */
.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.product {
  display: flex;
  flex-direction: column;
  flex: 0 40%;
  align-items: center;
  margin: 10px;
}

.colors {
  display: flex;
  margin-bottom: 8px;
}

.color {
  background: #FFFFBB;
  width: 20px;
  height: 20px;
  border: 1px solid #DDDDDD;
  margin: 0 5px 0 0;
}

.productIntro {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 0;
  width: 100%;
  color: #272727;
}

.product p,
.product a {
  margin: 0 0 5px 0;
  letter-spacing: 1px;
  color: #272727;
}

.products img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

/* ------------------footer-------------------- */
.floatList {
  width: 100vw;
  background-color: #272727;
  color: #828282;
  position: fixed;
  bottom: 0;
}

.floatList {
  display: flex;
  margin: 0;
}

.floatList img {
  width: 44px;
  height: 44px;
}

.floatList a {
  margin: 0 auto;
  display: flex;
}

.floatList p {
  margin: 12px 0;
}

.floatList a {
  width: 100px;
}/* 用限制寬度確保置中 */


.footerCart {
  position: relative;
}

.mobileCartQuantity {
  position: absolute;
  top: 17px;
  left: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #eda13b;
  opacity: 90%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/* footer {
  position: absolute;
  bottom: 0;
} */
.buttom {
  width: 100vw;
  height: 180px;
  background-color: #272727;
  padding: 0 10px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.buttom p {
  margin-bottom: 50px;
}

.links {
  width: 55%;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.links a {
  margin: 0;
  padding: 0;
}

.icon a {
  margin-left: 3px;
}

.links a:hover {
  color:#c49871;
}

.buttom p {
  text-align: center;
  color: #f5f5f5;
}

/* ------------------Media Queries-------------------- */
@media all and (min-width : 900px) {
  .searchGroupDesktop {
    margin: 0 30px;
  }

  .imgs a {
    margin: 0 10px
  }

  .searchImgDesktop {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .searchGroupDesktop {
    display: block;
  }
}

@media all and (min-width : 768px) {

  .header {
    display: flex;
    justify-content: space-around;
  }

  .cart {
    position: relative;
  }

  .desktopCartQuantity {
    position: absolute;
    top: 15px;
    right: -5px;
    /* z-index: 2; */
    color: #FFFFFF;
    font-size: 20px;
    background-color: #eda13b;
    opacity: 90%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .topList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #272727;
    background-color: #FFFFFF;
    order: -1;
    margin-right: auto;
  }

  .topList>* {
    margin: 0 10px;
  }

  .topList a {
    color: #000000;
    font-size: 20px;
  }

  .logo {
    order: -2;
    margin: 10px;
  }

  .logo img {
    width: 20rem;
  }

  form {
    border-radius: 30px;
    border: 1px solid;
    width: 160px;
    height: 50px;
    z-index: 2;
    position: absolute;
    top: 18px;
    right: 100px;
  }

  .searchInputDesktop {
    margin: 10px 10px;
    height: 30px;
    width: 130px;
    cursor: text;
    white-space: nowrap;
    z-index: 1;
    border: none;
  }

  .imgs {
    display: flex;
    align-items: center;
  }

  .buttonImg,
  .cartImg {
    max-width: 44px;
    max-height: 44px;
  }

  .cart {
    position: relative;
  }

  .desktopCartQuantity {
    position: absolute;
  }

  .searchImgDesktop {
    position: inherit;
    z-index: 1;
    max-width: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .searchInputDesktop,
  .desktopCartQuantity,
  .buttonImg,
  .cartImg {
    display: block;
  }

  .headWords {
    top: 25%;
    left: 15%;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .product {
    flex: 0 30%;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 100px; */
    padding: 0 80px;
  }

  .headPhoto img {
    padding: 37px 0 0 0;
    background-color: #272727;
  }

  .floatList {
    display: none;
  }

  .subLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subLinks a {
    margin: 10px;
  }

  footer>* {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
  }

  .title img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .buttom {
    flex-wrap: wrap;
    height: 150px;
  }

  .links {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 10px;
    width: 50%;
    max-width: 700px;
  }

  .links br {
    display: none;
  }

  .buttom p {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    padding-right: 8px;
  }

  .icon {
    margin-left: auto;
    padding-right: 5px;
  }

  .footer {
    max-height: 100px;
  }

  .buttom a,
  .buttom p {
    font-size: 18px;
  }

  .searchGroupMobile {
    display: none;
  }
}

@media all and (min-width : 900px) {

  .cartImg {
    margin: 0;
  }
}

@media all and (max-width : 900px) and (min-width: 768px) {

  .cartImg {
    margin-right: 10px;
  }

  .topList>* {
    margin: 0 5px;
    font-size: 15px;
  }

  form {
    width: 130px;
    height: 40px;
    z-index: 2;
    position: absolute;
    top: 23px;
    right: 100px;
  }

  .searchInputDesktop {
    margin: 5px 5px;
    height: 25px;
    width: 110px;
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 1;
  }

  .searchGroupDesktop {
    margin: 0;
  }

  .imgs a {
    margin: 0 5px
  }

  .buttonImg,
  .cartImg {
    max-width: 30px;
    max-height: 30px;
  }

  .searchImgDesktop {
    /* position: inherit;
    z-index: 1; */
    max-width: 25px;
    z-index: 1;
  }

  .cart {
    position: relative;
  }

  .desktopCartQuantity {
    position: absolute;
    top: 11px;
    right: 3px;
    /* z-index: 2; */
    color: #FFFFFF;
    font-size: 16px;
    background-color: #eda13b;
    opacity: 90%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }

  .links a,
  .icon {
    padding-left: 5px;
    padding-right: 5px;
  }

  .links {
    width: 50%;
  }

  .buttom a,
  .buttom p {
    font-size: 15px;
  }

  .searchGroupDesktop {
    display: block;
  }
}

@media all and (max-width : 767px) and (min-width: 500px) {

  .buttom {
    padding: 20px 0 0 10px;
  }

  .links {
    height: 110px;
  }

  .links,
  .icon {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* .sliderBar {
    left: 43%;
  } */
}

@media all and (max-width : 500px) {
  .logo img {
    /* max-width: 10rem; */
    height: 44px;
  }

  .searchImgMobile {
    width: 44px;
  }

  .headWords {
    top: 10%;
    letter-spacing: 1px;
    font-size: 10px;
  }

  .product p {
    font-size: 10px;
  }

  .floatList a {
    font-size: 10px;
  }

  .buttom {
    font-size: 10px;
    padding: 20px 0 0 10px;
  }

  .links {
    height: 100px;
  }

  /* .sliderBar {
    left: 40%;
  } */

  .mobileCartQuantity {
    font-size: 16px;
  }
}
